@charset "utf-8";
@import "./_variables";
@import "bulma/bulma";

.is-screen-height {
	height: 100vh;
}

.is-grid {
	display: grid;
	align-items: stretch;
	height: 100%;
	grid-template-rows: min-content auto min-content;
}

.is-parent-height {
	height: 100%;
}

.is-parent-width {
	width: 100%;
}

.is-circular {
	border-radius: 50%;
}

.has-left-border {
	border-left: solid 1px $primary;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
